@media screen and (min-width: 1500px){
	#boxSocialMedia {
		background: #f7f7f7;
		border: 1px solid #e6e6e6;
		margin-left: -122px;
		position: absolute;
		width: 80px;
		border-radius: 4px;
	}
	#boxSocialMedia.boxFixo {
		opacity: 0.5;
		position: fixed;
		top: 60px;
	}
	#boxSocialMedia.boxFixo:hover { opacity: 1; }
	#boxSocialMedia.boxFixo:hover li { opacity: .5; }
	#boxSocialMedia.boxFixo li:hover { opacity: 1; }
	.pgContent #boxSocialMedia { margin-left: -98px; }
	#boxSocialMedia li {
		text-align: center;
		padding: 0 18px 22px;
	}
	#boxSocialMedia li:nth-child(1) { padding-top: 22px; }
}

@media screen and (max-width: 1500px){
	#boxSocialMedia {
		position: fixed;
		left: 0;
		top: 50%;
		margin-top: -30px;
		padding-right: 10px;
		padding-left: 60px;
		z-index: 1000;
		background: #f7f7f7;
		height: 60px;
		white-space: nowrap;
		overflow: hidden;
		border-radius: 0 4px 4px 0;
		box-shadow: 
			0 0 2px #f26d41,
			0 0 3px rgba(0,0,0,0.4),
			0 0 15px rgba(0,0,0,0.1);
	}
	#boxSocialMedia:before {
		width: 66px;
		height: 60px;
		position: absolute;
		top: 0;
		left: 0;
		background: url(../../imagens/rgbshop/socialmedia/socialbox/share.png) center no-repeat;
		z-index: 100;
	}
	#boxSocialMedia li {
		z-index: 99;
		visibility: hidden;
		float: left;
		height: 60px;
		position: relative;
		text-align: center;
		padding: 12px 7px 0 7px;
		cursor: pointer;

		-webkit-transition: 0.1s;
		-moz-transition: 0.1s;
		-o-transition: 0.1s;
		transition: 0.1s;
	}
	#boxSocialMedia li:nth-child(1) { webkit-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; margin-left: -100px; }
	#boxSocialMedia li:nth-child(2) { -webkit-transition: 0.275s; -o-transition: 0.275s; transition: 0.275s; margin-left: -150px; }
	#boxSocialMedia li:nth-child(3) { -webkit-transition: 0.350s;  -o-transition: 0.350s; transition: 0.350s; margin-left: -200px; }
	#boxSocialMedia li:nth-child(4) { -webkit-transition: 0.425s; -o-transition: 0.425s; transition: 0.425s; margin-left: -250px; }
	#boxSocialMedia li:nth-child(5) { -webkit-transition: 0.500;  -o-transition: 0.500; transition: 0.500; margin-left: -300px; }

	#boxSocialMedia:hover li {
		margin-left: 0;
		visibility: visible;
	}
	#boxSocialMedia li:hover { opacity: .8; }
}