@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
}

.text-shadow-lg {
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
}
